
    body {
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color:#000;
      margin: 0;
      padding: 0;
    }
    .swiper-container {
      background:url("bar2.jpg") no-repeat center center/cover;
      width: 100%;
      height: 100vh;
      padding-top: 50px;
      padding-bottom: 50px;
      position: relative;
     /* opacity:0.64; */
    }
    .swiper-slide {
      background-position: center;
      background-size: cover;
      width: 500px;
      height: 600px;

    }




    /* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-box {
  background-color: transparent;
  width: 500px;
  height: 600px;
  /* border: 1px solid #f1f1f1; */
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-box-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-box-back {
  width: 100%;
  height: 100%;
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  color: white;
  transform: rotateY(180deg);
}
.ii
{
  width:500px;
  height: 600px;
}

  .line
  {
    background-color: blanchedalmond;
    color:whitesmoke;
  }


@media (max-width: 984px) 
{
    .ii
  {
  width:200px;
  height: 300px;
  }
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 200px;
    height: 300px;

  }
      /* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-box {
  background-color: transparent;
  width: 200px;
  height: 300px;
  /* border: 1px solid #f1f1f1; */
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

.flip-box-back
{
  font-size:12px;
  padding:10px;
  margin-top:0px;
}
.flip-box-back>h2
{
  margin-top: 0rem;
}


}